#container{
    width: 1000px;
    height: 1000px;
    background-color: rgb(19, 18, 18);
    margin-left: auto;
    margin-right: auto;
}

#header{
    width: 1000px;
    height: 200px;
    background-color: rgb(121, 240, 240);
}

#enc{
    position: relative;
    left: 450px;
    top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(250, 8, 8);
}

#nav{
    width: 1000px;
    height: 100px;
    background-color: beige;
}

#men{
    position: relative;
    left: 450px;
    top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(255, 30, 30);
}

#aside{
    float: left;
    width: 200px;
    height: 850px;
    background-color: crimson;
}

#lat{
    position: relative;
    left: 50px;
    top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: brown;
}

#main{
    float: left;
    width: 1000px;
    height: 850px;
    background-color: rgb(106, 106, 235);
}

#footer{
    float: right;
    width: 1000px;
    height: 80px;
    background-color: rgb(145, 145, 216);
}

#pie{
    position: relative;
    left: 5px;
    top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
    color: brown;
}

.alinear_flex{
    float: right;
    display: flex;
    justify-content: center;
}