#container{
    width: 1000px;
    height: 1000px;
    background-color: rgb(255, 106, 7);
    margin-left: auto;
    margin-right: auto;
}

#header{
    width: 1000px;
    height: 200px;
    background-color: rgb(121, 240, 240);
}

#enc{
    position: relative;
    left: 450px;
    top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(8, 24, 250);
}

#nav{
    width: 1000px;
    height: 100px;
    background-color: beige;
}

#men{
    position: relative;
    left: 450px;
    top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(255, 30, 30);
}

#main{
    float: left;
    width: 1000px;
    height: 850px;
    background-color: rgb(235, 233, 106);
}

#footer{
    float: left;
    width: 1000px;
    height: 80px;
    background-color: rgb(0, 255, 34);
}

#pie{
    position: relative;
    left: 5px;
    top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
    color: rgb(248, 0, 0);
}

.alinear_flex{
    float: right;
    display: flex;
    justify-content: center;
}