h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 156, 223);
}

.dis1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(165, 36, 36);
}

#container{
    width: 700px;
    height: 700px;
    background-color: rgb(194, 160, 226);
    margin-left: auto;
    margin-right: auto;
}