h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(14, 10, 17);
}

.dis1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(218, 144, 159);
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue;
}

.dis2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: darksalmon;
}

#container{
    width: 2000px;
    height: 2000px;
    background-color: rgb(195, 178, 209);
    margin-left: auto;
    margin-right: auto;
}